<!DOCTYPE html>
<html style="margin: 0 auto;">
<head>
	<title>领军者</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--描述：引入layui -->
	<script type="text/javascript" src="/public/lib/layui/layui.js" charset="utf-8"></script>
	<!--引入样式表-->
	<link rel="stylesheet" href="../public/css/Style.css" />

	<!-- 引入导航栏的部件 -->
	<script src="../public/js/jquery-2.2.3.min.js"></script>

	<script src="../public/js/more.js"></script>

	<link rel="stylesheet" href="../public/css/Nav.css" />

	<!--描述：引入bootStrap-->
	<link rel="stylesheet" href="../public/css/bootstrap.min.css" />

	<script src="../public/js/jquery-2.1.1.min.js"></script>

	<script src="../public/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../public/js/script.js"></script>

	<!--描述：引入顶部弹窗-->
	<link rel="stylesheet" href="../public/css/appear.css" />
	<!--描述:引入轮播图-->
	<link rel="stylesheet" href="../public/css/Carousel.css" />
	<script>
		//对top栏弹窗的功能实现
		$(function () {
			$("[data-toggle='appear']").popover()
		});
	</script>

	<!--返回顶部-->
	<a href="" class="cd-top"></a>

	
	<!-- 描述：导航开始 -->
	{{ include './inherit/head.html' }}
	<!-- 描述：导航结束 -->
</head>

<body>
	<!-- 描述：轮播图开始 -->
	<div class="container" data-ride="carousel" data-interval="2000"
		style="margin-top:50px;zoom:1;width: 1504px; margin: 0 auto;top: 149.5px;">
		<div class="row clearfix">
			<div class="col-md-12 column" style="padding: 0px;">
				<div class="carousel slide" id="carousel-658981">
					<ol class="carousel-indicators">
						<li data-slide-to="0" data-target="#carousel-658981" class="active">
						</li>
						<li data-slide-to="1" data-target="#carousel-658981">
						</li>
						<li data-slide-to="2" data-target="#carousel-658981">
						</li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img alt="" src="../public/img/20181224111136324.jpg" />

						</div>
						<div class="item">
							<img alt="" src="../public/img/20181225030315777.jpg" />

						</div>
						<div class="item">
							<img alt="" src="../public/img/20181224022317806.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 描述：轮播图结束 -->

</body>

<div class="product">
	<div class="product-show" style="zoom:1;width: 1519px; margin: 0 auto;">
		<h2 class="product-title">产品<span>中心</span></h2>
		<p>全品类 · 大未来</p>
		<div style="border: black solid 0px;width: 132px;height: 600px;float: left;margin: 0px;padding: 0px;"></div>
		<ul>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo"><img src="../public/img/product1.jpg" class="picture" />
					<p class="product-name">胶功夫真瓷胶</p>
				</a>
			</li>
		</ul>
		<a href="#" class="more">查看更多+</a>

	</div>
</div>
<!--产品中心结束-->

<!--关于我们开始-->
<div class="about">
	<div class="content">
		<h2>关于领军者</h2>
		<b></b>
		<p class="p1">福州领军者新材料有限公司是一家集美缝原材料仓储与销售、产品研发与生产、成品大宗批发、OEM贴牌代工为一体的大型综合性高科技生产型企业。
			公司作为美缝业界多年的原材料供应中间商，同时肩负着为福建省内多家品牌美缝企业提供的OEM代工生产服务的重任！
			经过近些年的发展，旗下自主运营的多个品牌，享誉全国。旗下品牌“胶功夫”是美缝类产品专业品牌。目前主营产品有：美缝剂、真瓷胶、瓷缝宝、水性环氧彩砂、防水涂料、瓷砖背胶、封固胶、界面剂、接缝王等施工辅材等。 </p>
		<div class="amount">
			<ul>
				<li>
					<p>团队成员</p>
					<div> <strong>80</strong><b>名</b> </div>
				</li>
				<li>
					<p>服务客户</p>
					<div> <strong>10</strong><b>万</b> </div>
				</li>
				<li>
					<p>点击量</p>
					<div> <strong>200</strong><b>万</b> </div>
				</li>
			</ul>
			<a href="#" class="more">查看更多+</a>
		</div>
	</div>
</div>
<!--关于我们结束-->
<!--施工过程开始-->
<div class="course">
	<div class="course-show">
		<h2 class="course-title">美缝<span>施工</span></h2>
		<p>做一项工程 · 创一个经典
		</p>
		<div style="border: black solid 0px;width: 132px;height: 400px;float: left;margin: 0px;padding: 0px;"></div>
		<ul>
			<li class="border">
				<a href="#" class="demo">
					<div class="control"><img src="../public/img/20181219030450557.jpg" class="picture" /></div>
					<p class="product-name">施工过程</p>
					<p>由于施工现场尘埃多、感染美缝剂欠好收拾等，建议施工人员佩戴好防护东西，例如：手套、鞋套、帽...</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo">
					<div class="control"><img src="../public/img/20181219030450557.jpg" class="picture" /></div>
					<p class="product-name">专业的美缝师</p>
					<p>（1）是对美缝材料的背景知识掌握程度。与专业的美缝师相比，普通的装修师傅可能只是知道材料该...</p>
				</a>
			</li>
			<li class="border">
				<a href="#" class="demo">
					<div class="control"><img src="../public/img/20181219030450557.jpg" class="picture" /></div>
					<p class="product-name">色卡挑选</p>
					<p>色卡是自然界存在的颜色在某种材质（如：纸、面料、塑胶等）上的体现，用于色彩选择、比对、沟通...</p>
				</a>
			</li>
		</ul>
		<a href="#" class="more">查看更多+</a>

	</div>
</div>
<!--施工过程结束-->

<!--材料供应开始-->
<div class="supply">
	<div class="supply-show">
		<br />
		<br />
		<h2 class="supply-title">大宗<span>原材料</span>供应</h2>
		<p>致力于为客户提供优质的产品,关注客户核心需求</p>
	</div><br>
	<div class="demo2">

		<div class="div1">
			<a href="../public/img/20181218050648450.jpg">
				<figure>
					<img src="../public/img/20181218050648450.jpg" />
				</figure>
				<p>致力于为客户提供一流优质的产品</p>
			</a>
			<a href="../public/img/20181218050648450.jpg">
				<figure>
					<img src="../public/img/20181218050648450.jpg" />
				</figure>
				<p>致力于为客户提供一流优质的产品</p>
			</a>
		</div>
		<div class="div2">
			<a href="../public/img/20181218052746501.jpg">
				<figure>
					<img src="../public/img/20181218052746501.jpg" />
				</figure>
				<p>致力于为客户提供一流优质的产品</p>
			</a>

		</div>
		<div class="div3">
			<a href="../public/img/20181218050648450.jpg">
				<figure>
					<img src="../public/img/20181218050648450.jpg" />
				</figure>
				<p>致力于为客户提供一流优质的产品</p>
			</a>
			<a href="../public/img/20181218050648450.jpg">
				<figure>
					<img src="../public/img/20181218050648450.jpg" />
				</figure>
				<p>致力于为客户提供一流优质的产品</p>
			</a>
		</div>
	</div>
</div>
<!--材料供应结束-->
<!--代工轮播开始-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<br><br />
	<h2 class="product-title">美逢剂<span>OEM代工</span></h2>
	<p class="demo3">领军者新材料 · 源自德国工艺</p><br>
	<ol class="carousel-indicators" style="position: absolute;top: 600px;">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active" style="background-color: #84C225;">
		</li>
		<li data-target="#carousel-example-generic" data-slide-to="1" style="background-color: #84C225;"></li>
	</ol>

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="oem">

				<div class="oem1">
					<a href="#">

						<figure>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<figcaption>

								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>

							</figcaption>

						</figure>
					</a>
				</div>

				<div class="oem1">
					<a href="#">
						<figure>
							<figcaption>
								<br />
								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>
								<br />
								<div class="descend"></div>
							</figcaption>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>

						</figure>
					</a>
				</div>
				<div class="oem1">
					<a href="#">
						<figure>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<figcaption>
								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>

							</figcaption>

						</figure>
					</a>
				</div>
				<div class="oem1">
					<a href="#">
						<figure>
							<figcaption>
								<br />
								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>
								<br />
								<div class="descend"></div>
							</figcaption>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>

						</figure>
					</a>
				</div>
			</div>

		</div>
		<div class="item">
			<div class="oem">

				<div class="oem1">
					<a href="#">

						<figure>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<figcaption>
								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>

							</figcaption>

						</figure>
					</a>
				</div>

				<div class="oem1">
					<a href="#">
						<figure>
							<figcaption>
								<br />
								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>
								<br />
								<div class="descend"></div>
							</figcaption>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>

						</figure>
					</a>
				</div>
				<div class="oem1">
					<a href="#">
						<figure>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<div class="descend"></div>
							<figcaption>
								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>

							</figcaption>

						</figure>
					</a>
				</div>
				<div class="oem1">
					<a href="#">
						<figure>
							<figcaption>
								<br />
								<h3>泉州美缝剂OEM代工案例</h3>
								<p>领军者为泉州某厂家美缝剂OEM代工实例</p>
								<a href="#" id="demo">查看详情</a>
								<br />
								<div class="descend"></div>
							</figcaption>
							<div class="overflow">
								<img src="../public/img/20181220110549690.jpg" /></div>
						</figure>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--代工轮播结束-->

<!--公司动态开始-->
<div class="article">
	<br />
	<br />
	<br />
	<h2 class="supply-title">公司<span>动态</span></h2>
	<p>专业美缝 · 我们一直在路上</p>
	<br />
	<div class="news">
		{{ each article }}

		<a href="/article?id={{ $value.id }}" class="suspend">
			<div class="news1">
				<figure>
					<img src="{{ $value.Image }}" class="newsimg" />
				</figure>
				<figcaption>
					<h3 class="h3title">{{ $value.title }}</h3>
					<p class="whilep" id="whilep">{{ $value.content }}</p>
					<span>{{ $value.dateline }}</span>
				</figcaption>
			</div>
		</a>
		{{ /each }}
		<a href="/article-Show" class="more">查看更多+</a>
	</div>
</div>

<!--公司动态结束-->
<!-- 需求 底部 版权 -->
{{ include './inherit/bottom.html' }}

<script>
	layui.use(['form', 'layer'],
					function () {
						$ = layui.jquery;
						var form = layui.form,
							layer = layui.layer;
			
						//自定义验证规则
						form.verify({
							name: function (value) {
								if (value.length < 2) {
									return '留下亲的全名哦~';
								} if (!/^[\u4e00-\u9fa5]+$/gi.test(document.getElementById("name").value)) {
									return '亲除了中文名还有其他名字吗~';										
								}
							},
							content: function (value) {
                     			if (value.length < 2) {
                            return '总得说点什么吧~';
						}
					}
						});
					});

					function tips(){
						layer.msg('请在上方填写合作详情~');
					}
</script>
<script>
	$('#myform').on('submit', function (e) {
		e.preventDefault()
		var formData = $(this).serialize()
		$.ajax({
			url: '/demand',
			type: 'post',
			data: formData,
			dataType: 'json',
			success: function (data) {
				var err_code = data.err_code
				if (err_code === 0) {
					layer.alert("提交成功", {
						icon: 6
					}, function(){
						location.reload();
					});
				}
			}
		})
	});
</script>
</html>